.cards {
    justify-content: space-between;
    margin-top: 50px;
    .card-filter {
        li {
            a {
                text-decoration: none;
                font-size: 16px;
                font-weight: 400;
                padding: 7px 24px;
                margin-right: 8px;
                border: 1px solid #eee1e0;
                border-radius: 20px;
                color: #000;
                transition: .3s;
                &:hover {
                    background-color: #ff1616;
                    color: #fff;
                }
            }
            .card-active {
                color: #fff;
                background-color: #ff1616;
                border: 1px solid transparent;
            }
        }
    }
}
